@media only screen and (max-width: 576px){

    #header{
        .voltarHome{
            position: absolute;
            padding-left: 9px;
            top: 2.7%;
            max-width: 100%;
            width: 27px;
        }
        .nomeHeader{
            position: absolute;
            font-size: 24px;
            top: 2.75%;
            color: white;
            left: 16%;
        }
    }

    #corpo{
        .disfarce{
            position: absolute;
            background-color: white;
            width: 100%;
            height: 80vh;
        }
        .fotoPerfil{
            position: absolute;
            max-width: 100%;
            width: 100px;
            top: 23px;
            left: 35.2%;
            border-radius: 50px;
        }

        .nome{
            text-align: center;
            position: relative;
            top: 22%;
            font-size: 25px;
        }

        .email{
            text-align: center;
            position: relative;
            top: 24%;
            color: #9a9a9a; 
        }

        .mensagem{
            position: absolute;
            color: #818181;
            top: 31%;
            border: 1px solid rgb(221, 221, 221);
            margin: 38px;
            padding: 25px;
            width: 80%;
            box-sizing: border-box;

        }
    }
}

@media only screen and (min-width: 576px){

    
    #header{
        .voltarHome{
            position: absolute;
            left: 5%;
            top: 2.7%;
            max-width: 100%;
            width: 27px;
        }
        .nomeHeader{
            position: absolute;
            font-size: 24px;
            top: 2.75%;
            color: white;
            left: 9%;
        }
    }
    
    #corpo{
        .disfarce{
            position: absolute;
            background-color: white;
            width: 100%;
            height: 80vh;
        }
        .fotoPerfil{
            position: absolute;
            max-width: 100%;
            width: 100px;
            top: 23px;
            left: 47.25%;
            border-radius: 50px;
        }
    
        .nome{
            text-align: center;
            position: relative;
            top: 22%;
            font-size: 25px;
        }
    
        .email{
            text-align: center;
            position: relative;
            top: 24%;
            color: #9a9a9a; 
        }
    
        .mensagem{
            position: absolute;
            color: #818181;
            text-align: center;
            top: 31%;
            border: 1px solid rgb(221, 221, 221);
            left: 7.25%;
            margin: 38px;
            padding: 25px;
            width: 80%;
            box-sizing: border-box;
        }
    }
}