<div class="container-xxl">
  <div class="cabecalho">
    <img src="https://www.gstatic.com/images/branding/product/1x/contacts_48dp.png" alt="perfil contatos"
      class="img_perfil">
    <div class="titulo">Contatos</div>
    <input id="myInput" type="text" placeholder="Pesquisar" />
  </div>

  <div *ngIf="dataLoaded">
    <form [formGroup]="editUserForm" (submit)="updateUser()" class="formulario">

      <div class="linha"></div>
      <img [src]=url class="addfoto">

      <div class="botaoImagem">
        <div class="cameraborder"></div>
        <img src="../../assets/images/photo-camera.png" alt="" class="camera">
        <input type="file" (change)="onFileChange($event)" (change)="onselecrFile($event)" accept="image/*"
        id="show-or-hide" class="btn" />
      </div>


      <p>
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Nome Completo" formControlName="name" required>
          <mat-error>Coloque o nome completo</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="E-mail" formControlName="email" required>
          <mat-error *ngIf="editUserForm.controls['email'].errors && editUserForm.controls['email'].hasError('required')">
            Coloque
            o email</mat-error>
          <mat-error *ngIf="editUserForm.controls['email'].errors && editUserForm.controls['email'].hasError('email')">
            Endereço de email
            não é valido</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Telefone</mat-label>
          <input matInput placeholder="Telefone" formControlName="phone" required>
          <mat-error *ngIf="editUserForm.controls['phone'].errors && editUserForm.controls['phone'].hasError('required')">
            Coloque
            o telefone</mat-error>
          <mat-error
            *ngIf="editUserForm.controls['phone'].errors && editUserForm.controls['phone'].hasError('maxlength')">
            Coloque 10 digitos</mat-error>

        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Aniversario</mat-label>
          <input matInput placeholder="Aniversario" formControlName="birthday">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Descrição</mat-label>
          <input matInput placeholder="Descrição" formControlName="about">
        </mat-form-field>
      </p>

      <button mat-raised-button color="primary" [disabled]="!editUserForm.valid" class="botaoSubmit">Salvar</button>
    </form>
  </div>
