
 @media only screen and (max-width: 576px){


    .tituloLista{
        position: absolute;
        top: 2px;
        display: flex;
        color: white;
        font-size: 24px;
        padding-left: 23px;
        padding-top: 25px;
    }
    

    .procurar{
        position: absolute;
        top: 80.5px;
        height: 45px;
        background-color: white;
        width: 100%;

        .mic{
            position: relative;
            top: 8px;
            width: 6%;
            left: 73%;
        }

        .lupa{
            position: relative;
            top: 10px;
            width: 7%;
            margin-left: 25px ;
        }
    
        #procuracao{
            position: relative;
            width: 50%;
            border: 1px solid white;
            top: 2.1px;
            right: 15px;
            text-align: left;
            font-size: 17px;
            &::placeholder{
                color: #9a9a9a;
                font-weight: 100;
            }
        }
    }

    .espaco{
        position: relative;
        top: 10px;
        background-color: rgb(199, 197, 197);
        height: 80px;
    }

    #contatos{
        .conversa{

            position: relative;
            top: 6.5vh;
            width: 100%;
            height: 67px;
            display: flex;
            &:hover{
                background-color: #eeecec;
            }
            background-color: white;
            
            .avatar{
                flex-basis: 73px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    max-width: 100%;
                    width: 50px;
                    border-radius: 35px;
                }
            }
            .nome{
                font-size: 16px;
                padding-top: 5px;
            }

            .conteudo{
                border-bottom: 2px solid #f2f2f2;
                flex-grow: 1;
                padding: 10px 0px 0px 0px;

                .titulo{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                .mensagem{
                    padding-top: 5px;
                    font-size: 12.5px;
                    color: #9a9a9a;   
                }
            }
        }
    }

    .none{
        display: none;
    }

    a{
        text-decoration: none;
        color: black;
    }
 }

 @media only screen and (min-width: 577px){
    .tituloLista{
        position: absolute;
        top: 2px;
        display: flex;
        color: white;
        font-size: 24px;
        padding-left: 23px;
        padding-top: 25px;
    }
    
    .procurar{
        position: absolute;
        top: 80.5px;
        height: 45px;
        background-color: white;
        width: 100%;
    
        .mic{
            display: none;
            position: relative;
            top: 8px;
            width: 1.8%;
            left: 90%;
        }
    
        .lupa{
            position: relative;
            top: 10px;
            width: 2%;
            margin-left: 28px ;
        }
    
        #procuracao{
            position: relative;
            width: 50%;
            border: 1px solid white;
            top: 1.1px;
            left: 20px;
            text-align: left;
            font-size: 17px;
            &::placeholder{
                color: #9a9a9a;
                font-weight: 100;
            }
        }
    }
    
    .espaco{
        position: relative;
        top: 10px;
        background-color: rgb(199, 197, 197);
        height: 80px;
    }
    
    #contatos{
        .conversa{
            position: relative;
            top: 6.8vh;
            width: 100%;
            height: 67px;
            display: flex;
            &:hover{
                background-color: #eeecec;
            }
            background-color: white;
            
            .avatar{
                flex-basis: 73px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    max-width: 100%;
                    width: 50px;
                    border-radius: 35px;
                }
            }
            .nome{
                font-size: 16px;
                padding-top: 5px;
            }
    
            .conteudo{
                border-bottom: 2px solid #f2f2f2;
                flex-grow: 1;
                padding: 10px 0px 0px 0px;
    
                .titulo{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
    
                .mensagem{
                    padding-top: 5px;
                    font-size: 12.5px;
                    color: #9a9a9a;   
                }
            }
        }
    }
    
    .none{
        display: none;
    }
    
    a{
        text-decoration: none;
        color: black;
    }
 }

 