@media only screen and (max-width: 576px) {

  .cabecalho {
    .titulo {
      position    : absolute;
      top         : 1px;
      display     : flex;
      color       : rgb(92, 91, 91);
      font-size   : 23px;
      padding-left: 16px;
      padding-top : 20px;
    }

    .img_perfil {
      position : absolute;
      max-width: 100%;
      width    : 12%;
      top      : 1.6%;
      right    : 30px;
    }

    .lupa {
      position: absolute;
      top     : 2.5%;
      width   : 7%;
      right   : 25%;
    }

    #myInput {
      display: none;
    }
  }


  .procurar {
    position: absolute;
    top     : 80.5px;
    height  : 50px;
    width   : 100%;

    // .mic {
    //   position: relative;
    //   top     : 8px;
    //   width   : 6%;
    //   left    : 73%;
    // }

    #procuracaodois {
      position  : relative;
      width     : 90%;
      border    : 1px solid white;
      top       : 2.1px;
      left      : 15px;
      text-align: left;
      font-size : 18px;
      outline: none;

      &::placeholder {
        color      : rgb(83, 83, 83);
        font-weight: 100;
      }
    }

    .contato_header {
      position      : relative;
      left          : 15.5px;
      top           : 28px;
      font-size     : 12px;
      text-transform: uppercase;
      color         : rgb(112, 112, 112);
      font-weight   : 600;
    }

    .email_header {
      position      : absolute;
      left          : 40%;
      top           : 48px;
      font-size     : 12px;
      text-transform: uppercase;
      color         : rgb(112, 112, 112);
      font-weight   : 600;
      display       : none;
    }

    .phone_header {
      position      : absolute;
      left          : 70%;
      top           : 48px;
      font-size     : 12px;
      text-transform: uppercase;
      color         : rgb(112, 112, 112);
      font-weight   : 600;
      display       : none;
    }
  }

  .espaco {
    position  : absolute;
    border    : 1px solid rgb(216, 215, 215);
    width     : 95%;
    left      : 5.8px;
    margin-top: 8px;
  }

  #contatos {
    .conversa {

      position: relative;
      top     : 8vh;
      width   : 100%;
      height  : 67px;
      display : flex;

      &:hover {
        background-color: #eeecec;
      }

      .avatar {
        flex-basis     : 73px;
        height         : 100%;
        display        : flex;
        align-items    : center;
        justify-content: center;

        img {
          max-width    : 100%;
          width        : 57%;
          border-radius: 35px;
        }
      }

      .nome {
        font-size  : 15.2px;
        padding-top: 15px;
      }

      .conteudo {
        // border-bottom: 2px solid #f2f2f2;
        flex-grow: 1;
        padding  : 10px 0px 0px 0px;

        .titulo {
          display        : flex;
          flex-direction : row;
          justify-content: space-between;
        }

        .email {
          display: none;
        }

        .phone {
          display: none;
        }
      }
    }
  }

  .email_header {
    display: none;
  }

  .none {
    display: none;
  }

  a {
    text-decoration: none;
    color          : black;
  }
}

@media only screen and (min-width: 577px) {
  .cabecalho {
    .titulo {
      position   : absolute;
      top        : 17px;
      display    : flex;
      color      : rgb(75, 74, 74);
      font-size  : 20px;
      left       : 5.7%;
      padding-top: 15px;
    }

    .img_perfil {
      position : absolute;
      max-width: 100%;
      width    : 2.1%;
      top      : 21px;
      left     : 3.3%;
    }

    // .lupa {
    //   position: absolute;
    //   top     : 20px;
    //   height  : 3.6%;
    //   width   : 1.8%;
    //   left    : 18.1%;
    // }

    #myInput[type=text] {
      position           : relative;
      height             : 35px;
      border             : 1px solid white;
      bottom             : 79px;
      left               : 18%;
      text-align         : left;
      background-color   : rgb(236, 236, 236);
      background-image   : url('../../assets/images/searchIcon.svg');
      background-position: 10px 10px;
      background-repeat  : no-repeat;
      padding            : 6px 0px 5px 40px;
      border-radius      : 8px;
      width              : 130px;
      -webkit-transition : width 0.4s ease-in-out;
      transition         : width 0.4s ease-in-out;
      outline: none;

      &:focus[type=text] {
        width : 50%;
        border: none;
      }

      &::placeholder {
        color      : rgb(156, 156, 156);
        font-size  : 15px;
        font-weight: 100;

      }
    }
  }

  .procurar {
    position: absolute;
    top     : 80.5px;
    height  : 50px;
    width   : 100%;

    #procuracaodois {
      display: none;
    }

    .contato_header {
      position      : absolute;
      left          : 42px;
      top           : 48px;
      font-size     : 12px;
      text-transform: uppercase;
      color         : rgb(112, 112, 112);
      font-weight   : 600;
    }

    .email_header {
      position      : absolute;
      left          : 40%;
      top           : 48px;
      font-size     : 12px;
      text-transform: uppercase;
      color         : rgb(112, 112, 112);
      font-weight   : 600;
    }

    .phone_header {
      position      : absolute;
      left          : 70%;
      top           : 48px;
      font-size     : 12px;
      text-transform: uppercase;
      color         : rgb(112, 112, 112);
      font-weight   : 600;
    }
  }

  .espaco {
    position  : absolute;
    border    : 1px solid rgb(216, 215, 215);
    width     : 95%;
    left      : 5.8px;
    margin-top: 8px;
  }

  #contatos {
    width: 100%;
    .conversa {
      position: relative;
      top     : 2.5vh;
      width   : 100%;
      height  : 80px;
      display : flex;

      &:hover {
        background-color: #eeecec;
      }

      .avatar {
        flex-basis     : 73px;
        height         : 100%;
        display        : flex;
        align-items    : center;
        justify-content: center;

        img {
          max-width    : 100%;
          width        : 70%;
          border-radius: 95px;
        }
      }

      .nome {
        font-size  : .875rem;
        line-height: 1.25rem;
        padding-top: 20px;
        color      : rgb(73, 73, 73);
      }

      .conteudo {
        // border-bottom: 2px solid #f2f2f2;
        flex-grow: 1;
        padding  : 10px 0px 0px 0px;

        .titulo {
          display        : flex;
          flex-direction : row;
          justify-content: space-between;
        }

        .email {
          position : absolute;
          bottom   : 30px;
          font-size: .875rem;
          color    : rgb(73, 73, 73);
          left     : 40%;
        }

        .phone {
          position : absolute;
          bottom   : 30px;
          font-size: .875rem;
          color    : rgb(73, 73, 73);
          left     : 70%;
        }
      }
    }
  }

  .none {
    display: none;
  }

  a {
    text-decoration: none;
    color          : black;
  }
}


