<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
<div class="container-xxl">
  <div class="cabecalho">
    <img src="https://www.gstatic.com/images/branding/product/1x/contacts_48dp.png" alt="perfil contatos"
      class="img_perfil">
    <div class="titulo">Contatos</div>
    <input id="myInput" type="text" placeholder="Pesquisar" [(ngModel)]="filterTerm"/>
  </div>

  <div class="procurar">
    <div id="searchBox">
      <div class="contato_header">Contatos</div>
      <div class="email_header">Email</div>
      <div class="phone_header">Telefone</div>
      <div class="linha"></div>
    </div>
  </div>

  <mat-card class="cartao">
    <a [routerLink]="['/usuarionovo']">
      <div class="textocartao">Criar contato</div>
      <img src="https://pic.onlinewebfonts.com/svg/img_132694.png" class="imgcard">
    </a>
  </mat-card>

  <mat-card class="cartaophone">
    <a [routerLink]="['/usuarionovo']">
      <img src="https://pic.onlinewebfonts.com/svg/img_132694.png" class="imgcard">
    </a>
  </mat-card>

  <div id="contatos" *ngFor="let contato of contatos | filter: filterTerm">
    <a [routerLink]="[ '/usuario', contato.id ]" (click)="onClick(contato.id)">
      <div class="conversa">
        <div class="avatar">
          <img [src]="contato.photo">
        </div>
        <div class="conteudo">
          <div class="nome">{{contato.name}}</div>
          <div class="email">{{contato.email}}</div>
          <div class="phone">{{contato.phone}}</div>
        </div>
      </div>
    </a>
    <div class="dropdown">
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>more_vert</mat-icon>
      </button>
      <div class="dropdown-content">
        <a [routerLink]="['excluir', contato.id]">Deletar</a>
        <a [routerLink]="['editarusuario', contato.id]">Editar</a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<!--
<table mat-table [dataSource]="contatos" class="mat-elevation-z8" id="contatos">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let contatos"> {{contatos.name}} </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let contatos"> {{contatos.photo}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let contatos"> {{contatos.email}} </td>
  </ng-container>

  <ng-container matColumnDef="photo">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let contatos"> {{contatos.id}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </table> -->
