<div class="geral">
  <div class="cabecalho">
    <img src="https://www.gstatic.com/images/branding/product/1x/contacts_48dp.png" alt="perfil contatos"
      class="img_perfil">
    <!-- <img class="lupa" src="../../assets/images/searchIcon.svg" /> -->
    <div class="titulo">Contatos</div>
    <input id="procuracao" type="text" placeholder="Pesquisar" onkeyup="myFunction()"/>
    <div class="resultados">
      <a href="#">

      </a>
    </div>
  </div>


  <div class="procurar">
    <div id="searchBox">
      <!-- <img class="mic" src="../../assets/images/voiceIcon.svg"> -->
      <!-- <input id="procuracao" type="text" placeholder="Pesquisar" /> -->
      <div class="contato_header">Contatos</div>
      <div class="email_header">Email</div>
      <div class="phone_header">Telefone</div>
      <div class="espaco"></div>
    </div>
  </div>



  <div id="contatos" *ngFor="let contato of contatos">
    <div (click)="onClick(contato.id)">
      <a [routerLink]="[ contato.id ]">
        <div class="conversa">
          <div class="none"> {{contato.id}} </div>
          <div class="avatar">
            <img [src]="contato.photo">
          </div>
          <div class="conteudo">
            <div class="titulo">
              <div class="nome">{{contato.name}}</div>
            </div>
            <div class="email">{{contato.email}}</div>
            <div class="phone">{{contato.phone}}</div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>


<script>
  function myFunction() {
    // Declare variables
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName('li');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("a")[0];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }
  </script>
