<div class="container-sm">
  <mat-card class="logincartao">
      <mat-card-header class="header">
        <img src="../../assets/images/contatoslogoedit.png" class="logo" />
        <div class="titulo">Cadastre-se</div>
      </mat-card-header>
    <br />
    <mat-card-content>
      <form [formGroup]="registerform" class="formulario">
        <p>
          <mat-form-field appearance="outline" floatLabel="always" class="formfield">
            <mat-label>Nome Completo</mat-label>
            <input
              matInput
              formControlName="fullname"
              type="text"
              class=""
              placeholder="Nome Completo"
              autofocus
            />
            <mat-error
              *ngIf="
                registerform.controls['fullname'].errors &&
                registerform.controls['fullname'].hasError('required')
              "
            >
              Digite seu nome completo.
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline" floatLabel="always" class="formfield">
            <mat-label>E-Mail</mat-label>
            <input
              matInput
              formControlName="email"
              type="text"
              class=""
              placeholder="E-Mail"
            />
            <mat-error
              *ngIf="
                registerform.controls['email'].errors &&
                registerform.controls['email'].hasError('email')
              "
            >
              E-Mail invalido.
            </mat-error>
            <mat-error
              *ngIf="
                registerform.controls['email'].errors &&
                registerform.controls['email'].hasError('required')
              "
            >
              Coloque seu E-mail.
            </mat-error>
          </mat-form-field>
        </p>

        <p class="senhaform">
          <mat-form-field appearance="outline" floatLabel="always" class="formfield">
            <mat-label>Senha</mat-label>
            <input
              matInput
              formControlName="password"
              [type]="hide ? 'password' : 'text'"
              placeholder="Coloque Sua Senha"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error
              *ngIf="
              registerform.controls['password'].errors &&
              registerform.controls['password'].hasError('required')
              "
            >
              Coloque sua senha
            </mat-error>
          </mat-form-field>
        </p>

        <br />
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="botaosubmit"
          (click)="signup()"
          [disabled]="!registerform.valid"
        >
          Registrar
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
