<div class="container-sm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Registrar usuario</mat-card-title>
    </mat-card-header>
    <br />
    <mat-card-content>
      <form [formGroup]="registerform" (submit)="signup()">
        <p>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Nome Completo</mat-label>
            <input
              matInput
              formControlName="userName"
              type="text"
              class=""
              placeholder="Nome Completo"
              autofocus
            />
            <mat-error
              *ngIf="
                registerform.controls['userName'].errors &&
                registerform.controls['userName'].hasError('required')
              "
            >
              Digite seu nome completo.
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>E-Mail</mat-label>
            <input
              matInput
              formControlName="emailLogin"
              type="text"
              class=""
              placeholder="E-Mail"
            />
            <mat-error
              *ngIf="
                registerform.controls['emailLogin'].errors &&
                registerform.controls['emailLogin'].hasError('email')
              "
            >
              E-Mail invalido.
            </mat-error>
            <mat-error
              *ngIf="
                registerform.controls['emailLogin'].errors &&
                registerform.controls['emailLogin'].hasError('required')
              "
            >
              Coloque seu E-mail.
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Senha</mat-label>
            <input
              matInput
              formControlName="password"
              [type]="hide ? 'password' : 'text'"
              placeholder="Senha de 9 caracteres"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error
              *ngIf="
                registerform.controls['password'].errors &&
                registerform.controls['password'].hasError('required')
              "
            >
              Coloque sua senha.
            </mat-error>
            <mat-error
              *ngIf="
                registerform.controls['password'].errors &&
                registerform.controls['password'].hasError('minlength')
              "
            >
              Sua senha deve ter mais que 4 caracteres
            </mat-error>
            <mat-error
              *ngIf="
                registerform.controls['password'].errors &&
                registerform.controls['password'].hasError('maxlength')
              "
            >
              Sua senha deve ter menos que 10 caracteres
            </mat-error>
            <mat-error
              *ngIf="
                registerform.controls['password'].errors &&
                registerform.controls['password'].hasError('pattern')
              "
            >
              Sua senha deve conter apenas numeros e letras minusculas.
            </mat-error>
          </mat-form-field>
        </p>

        <br />
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!registerform.valid"
        >
          Registrar
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
